<!DOCTYPE html>
<html>
<head>
<title>MINIMUS</title> 
       <!-- Latest compiled and minified CSS -->
       <meta name="viewport" content="width=device-width, initial-scale=1">

       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
       
       <!-- jQuery library -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
       
       <!-- Popper JS -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
       
       <!-- Latest compiled JavaScript -->
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
       <style>
         .logout{
           float:right;
           padding: 10px;
           margin:10px;
         }
         footer{
           bottom:0;
           left:0;
           position: absolute;
           z-index:1;

         }
         .block{
padding: 10px;
margin: 10px;
box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
         }
         .header{
           background-color: white;
           box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
           padding: 10px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
          width:50%;
         }
         .form-group{
          width:50%;
          background-color: white;
          box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
          border-radius: 20px;
          margin-left: auto;
          margin-right: auto;
          padding: 30px;
          margin-top: 50px;
      }
      @media(max-width:768px){
          .form-group{
              width: 100%;
              box-shadow: none;
              border-radius: 0px;
          }
      }
       </style>
</head>
<body>
  {% if user.is_authenticated  %}
  <div class="header"></div>
  Welcome {{username}},
  <a href="{% url 'logout' %}" role="button" class="logout" class="btn btn-outline-danger">Logout</a>
  {% if items %}
  {% for item in items %}
  <div class="form-group">
    <form action="update_item" method="POST">
      <label for="url"><b>URL</b></label>
      <textarea name="url" class="form-control" placeholder="Enter URL" value={{item.url}} required></textarea>
      <br>
      <label for="amount"><b>Your Amount</b></label>
      <input type="number" class="form-control" name="amount" placeholder="Enter Your Amount" value="{{item.amount}}" required>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  {% endfor %}
  {% else %}
  <div class="form-group">
    <form action="add_item" method="POST">
      <label for="url"><b>URL</b></label>
      <textarea name="url" class="form-control" placeholder="Enter URL"  required></textarea>
      <br>
      <label for="amount"><b>Your Amount</b></label>
      <input type="number" class="form-control" name="amount" placeholder="Enter Your Amount" required>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  {% endif %}
  <footer>
<div class="container">
  <div class="row">
    <div class="col-xl-9 block" >
      <div id="demo">
        <h2>To make use of minimus account you need to subscribe</h2>
          </div>
    </div>
    <div class="col-xl-3 block">
      <button type="button" class="btn btn-outline-success" onclick="user_subscribe()">Subscribe Us</button>

    </div>
  </div>
</div>
  </footer>
  {% endif %}
  
    <script>
      // Utils functions:
      function save(data){
        var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("demo").innerHTML = '<div class="alert alert-primary alert-dismissible">'+
          '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
          '<strong>'+this.responseText+'</strong></div>';
      }
    };
  xhttp.open("POST", "save_push", true);
  xhttp.send(data);
      }
      function urlBase64ToUint8Array (base64String) {
              var padding = '='.repeat((4 - base64String.length % 4) % 4)
              var base64 = (base64String + padding)
                      .replace(/\-/g, '+')
                      .replace(/_/g, '/')
      
              var rawData = window.atob(base64)
              var outputArray = new Uint8Array(rawData.length)
      
              for (var i = 0; i < rawData.length; ++i) {
                      outputArray[i] = rawData.charCodeAt(i)
              }
              return outputArray;
      }
      function loadVersionBrowser (userAgent) {
              var ua = userAgent;
              var tem;
              var M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
              
              if (/trident/i.test(M[1])) {
                      tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
                      return {name: 'IE', version: (tem[1] || '')};
              }
              if (M[1] === 'Chrome') {
                      tem = ua.match(/\bOPR\/(\d+)/);
                      if (tem != null) {
                              return {name: 'Opera', version: tem[1]};
                      }
              }
              M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
              if ((tem = ua.match(/version\/(\d+)/i)) != null) {
                      M.splice(1, 1, tem[1]);
              }
              return {
                      name: M[0],
                      version: M[1]
              };
      };
      var applicationServerKey = "BB2ysPqpngs1wezlj6RM4WDoDiMEW3zJpx5ZD0wGviKBq5p57xTDX7q24O1YL55jEItdy4dZKlm0ID-wqE_qKGQ";
      // In your ready listener
      function user_subscribe(){
        if ('serviceWorker' in navigator) {
          // The service worker has to store in the root of the app
          // http://stackoverflow.com/questions/29874068/navigator-serviceworker-is-never-ready
          var browser = loadVersionBrowser('chrome');
          navigator.serviceWorker.register('/static/sw.js').then(function (reg) {
            reg.pushManager.subscribe({
              userVisibleOnly: true,
              applicationServerKey: urlBase64ToUint8Array(applicationServerKey)
            }).then(function (sub) {
              var endpointParts = sub.endpoint.split('/');
              var registration_id = endpointParts[endpointParts.length - 1];
              var data = {
                'browser': browser.name.toUpperCase(),
                'p256dh': btoa(String.fromCharCode.apply(null, new Uint8Array(sub.getKey('p256dh')))),
                'auth': btoa(String.fromCharCode.apply(null, new Uint8Array(sub.getKey('auth')))),
                'name': 'XXXXX',
                'registration_id': registration_id
              };
              save(JSON.stringify(data));
              console.log(data);
            })
          }).catch(function (err) {
            console.log(':^(', err);
          });
        }
      }
      </script>
</body>
</html>
